<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SweetDeploy</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/bg/css/reset.css">
    <link rel="stylesheet" href="static/bg/css/style.css">
</head>

<body>
    <div title>SweetDeploy</div>
    <form sd-form>
        <div class="form-line">
            <input name="sd-account" value="admin" placeholder="Input Your Account" />
        </div>
        <div class="form-line">
            <input name="sd-password" value="admin" type="password" placeholder="Input Your Password" />
        </div>
        <div class="form-line">
            <input type="button" submit value="Login"/>
        </div>
    </form>
    <div class="colors"></div>
    <script src="static/bg/js/index.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/login.js"></script>
</body>

</html>