<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/index.css">
</head>

<body>
	<header>
		<!--<i class="fa fa-first-order" aria-hidden="true"></i>-->
		<i class="fa fa-themeisle" aria-hidden="true"></i>
		<span>SweetDeploy<span>
        <span right><i class="fa fa-cog" aria-hidden="true"></i></span>
	</header>
	<div content>
		<div>
			<i class="fa fa-bullhorn" aria-hidden="true"></i> 请选择要发布的更新包！
		</div>
		<div>
			<div divfile><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> 选择文件</div>
			<div divfile> 点击请选择zip文件</div>
			<form id="form" enctype="multipart/form-data">
				<input id="file" name="deployFile" type="file" hidden />
			</form>
		</div>
		<div>
			<a id="btn-deploy" href="javascript:void(0);">
				<i id="dicon" class=""></i>
				<span id="btn-txt">开始发布</span>
			</a>
		</div>
		

	</div>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
	<script src="static/js/index.js"></script>
</body>

</html>