body,html{
    margin:0;
    padding: 0;
}

header {
    height: 70px;
    line-height: 70px;
    width: 100%;
    background: #3366cc;
    color:#eee;
    font-size: 24px;
    font-weight: bold;
    text-indent: 10px;
}

[right]{
    float:right;
    margin-right: 20px;
    cursor: pointer;
}

[content]{
    width: 50%;
    margin:20px auto;
    height: 400px;
    font-size: 14px;
    margin-top:50px;
}

[content]>div{
    height: 50px;
    line-height: 50px;
}

[content]>div:first-child{
    border:1px solid #3366cc;
    background-color: rgba(51,102,204,.2);
    text-indent: 10px;
    border-radius: 3px;
}

[content]>div:nth-child(2){
    display: table;
    width: 100%;
    margin:20px 0;
}

[content]>div:last-child{
    text-align: center;
}


[divfile]{
    height: 30px;
    border:1px solid #3366cc;
    display: table-cell;
}

[divfile]:first-child{
    width: 20%;
    background-color:#3366cc;
    text-align: center;
    color:#fff;
    cursor: pointer;
}

[divfile]:nth-child(2){
    width: 80%;
    text-indent: 10px;
}

#btn-deploy{
    display: block;
    margin:0 auto;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color:#3366cc;
    color:#fff;
    cursor: pointer;
    font-size:14px;
    text-decoration: none;
    text-align: center;
}